* {
	margin:  0px;
	padding:  0px;
	box-sizing: border-box;
}

.name {
	display:flex;
	gap:30px;
	font-family:'Space Grotesk', sans-serif;
	font-size:8rem;
	font-weight:700;
}


/* adjusting fonts */
body {
	background: #000;
	color: #fff;

	font-family: 'Inter', sans-serif;
}

a {
	color: #ff3b30;
	text-decoration: none;
}

a:hover {
	color: white;
	opacity: 1;
}

.name {
	display: flex;
	align-items: center;
	gap: 35px;

	font-family: 'Space Grotesk', sans-serif;
	font-size: 8rem;
	font-weight: 700;

	margin-bottom: 60px;
}

.name span {
	display: inline-block;
}
p, li {
	font-size:  22px;
	line-height: 30px;
}

.name span {
	transition: transform .3s ease;
}

.name span:hover {
	transform: translateY(-15px) rotate(10deg);
}
/* adjusting spacing */

#left-column {
	padding: 20px;
}

h1, p {
	margin-bottom:  20px;
}

ul, ol {
	margin-left: 20px;
}

img {
	max-width: 100%;
	height:  auto;
}

/* uncomment the code below to set the grid */

#grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 100vh;
}

.scroll {
	padding: 60px;
	height: 100vh;
	overflow-y: auto;
}

#left-column {
	border-right: 1px solid rgba(255,255,255,.08);
}

h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 8rem;
    font-weight: 700;
}

h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 20px;

    text-transform: uppercase;
    letter-spacing: 0.05em;
}

#right-column {
	padding: 40px;
}

#right-column {
	background: rgba(255,255,255,.03);
}

